@import url("font.css");

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;
    padding: 0;
}
.logo span {
    margin: 0;
    padding: 0;
}
.news a {
    text-align: center;
    color: goldenrod;
}
.mods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.mod {
    border: 2px solid white;
    background-color: #ffffff42;
    max-width: 250px;
    text-decoration: none;
    color: white;
    margin: 5px;
}
.mod a {
    text-decoration: none;
    color: white;
}

textarea {
    min-width: 256px;
    min-height: 128px;
    background-color: #3d3d3d;
    color: white;
}
input {
    background-color: #3d3d3d;
    color: white;
}
.addbtn {
    min-width: 100px;
    min-height: 50px;
    background-color: rgba(173, 173, 173, 0.295);
    border: 2px solid white;
    border-radius: 5px;
}
a {
    color:red;
    text-decoration: none;
}
.comments {
    border: 2px solid white;
    max-width: 50vh;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #2c2c2c;
    color: white;
    text-align: center;
}

.comments form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments p {
    margin: 10px 0;
}

.comments input[name='sender'],
.comments textarea {
    width: 100%;
    padding: 10px;
    background-color: #3d3d3d;
    color: white;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.comments textarea {
    min-height: 150px;
}

.comments .addbtn {
    min-width: 100px;
    min-height: 40px;
    background-color: rgba(173, 173, 173, 0.295);
    border: 2px solid white;
    color: white;
    cursor: pointer;
    
    border-radius: 5px;
}

.danger {
    background-color: rgb(134, 38, 38);
    color:white;
    border: 1px solid white;
    width: 100px;
    height: 25px;
}