body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
}
.sidebar {
    width: 200px;
    background-color: #2c2c2c;
    padding-top: 20px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.sidebar a {
    color: white;
    padding: 10px 20px;
    display: block;
    text-align:center;
    min-width:80%;
    transition: all 1s ease-out;
    text-decoration: none
}
.sidebar a:hover {
    background-color: #3d3d3d;

border-bottom: 2px solid white;
}
.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}